@import "../scss/Variables";
@import "../scss/Theme";
@import "../scss/Mixins";
@import "../scss/Fonts";

.ui-editor-wrap {
  .life--header {
    .navbar-brand {
      padding-left: 0px;

      img {
        display: none !important;
      }
    }
  }
  .ui-editor {
    margin-top: 5rem;
  }
  .ui-editor {
    margin-top: 5rem;
  }
  .nav.nav-tabs {
    border: none;
    @include themify($themes) {
      color: themed("backgroundColor");
    }
    background: $light-gray;
    border-radius: 0;
  }
  a.nav-item.nav-link,
  a.nav-item.nav-link.active {
    border: none;
    padding: 12px 25px;
    @include themify($themes) {
      color: themed("backgroundColor");
    }
    background: $light-gray;
    border-radius: 0;
  }

  a.nav-item.nav-link.active:after {
    content: "";
    position: relative;
    bottom: -50px;
    left: -10%;
    border: 15px solid transparent;
    @include themify($themes) {
      border-top-color: themed("backgroundColor");
    }
  }
  .tab-content {
    background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    @include themify($themes) {
      border-top-color: themed("backgroundColor");
      border-bottom-color: themed("backgroundColor");
    }
    padding: 30px 25px;
  }

  a.nav-item.nav-link:hover,
  a.nav-item.nav-link:focus,
  a.nav-item.nav-link.active {
    border: none;
    @include themify($themes) {
      color: themed("textColor") !important;
      background-color: themed("backgroundColor");
    }
    border-radius: 0;
    transition: background 0.2s linear;
  }
  //   form-builder-scss---start
  .formbuilder {
    .builder-sidebar {
      [ref="group-panel-advanced"],
      [ref="group-panel-data"],
      [ref="group-panel-premium"] {
        display: block;
      }
      [ref="group-panel-basic"] {
        [ref="sidebar-group"] {
          .card-body {
            span {
              display: block;
            }
            span:first-child,
            span:last-child,
            span:nth-child(2),
            span:nth-child(5),
            span:nth-child(8) {
              display: block;
            }
          }
        }
      }
      [ref="group-panel-layout"] {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        [ref="sidebar-group"] {
          .card-body {
            span {
              display: none;
            }
            span:nth-child(3) {
              display: block;
            }
          }
        }
      }
    }
  }
  //   form-builder-scss---end
}
