
@import "../../scss/Variables";
@import "../../scss/Fonts";
@import "../../scss/Mixins";
@import "../../scss/Theme";

.#{$product}--bgcard-white {
  background-color: $white;
  border: 1px solid $medium-gray;
 // @include box-shadow(0px, 0px, 4px, 0.5px, rgba(63, 63, 63, 0.1));
  @include border-radius(4px);
  .#{$product}--bgcard-title{
    color: $blacTitle !important;
    background-color: $lighter-gray;
    border-bottom: 1px solid $light-gray;
    font-size: $oneREM;
    padding: 15px 18px;
    // @include themify($themes) {
    //   color: themed("textColor") !important;
    //   background-color: themed("backgroundColor");
    //   font-size: $point9REM;
    // padding: 10px 18px;
    // }
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    padding: 15px 20px;
    @include border-radius-each(4px, 4px,0px, 0px);
  }
  .#{$product}--bgcard-body{
    padding: 1.5rem;
  }
  // .#{$product}--bgcard-title{
  //   font-size: $point9REM;
  //   padding: 10px 18px;
  // }
  &.dashboard-card{
    .#{$product}--bgcard-title{
      color: $blacTitle !important;
      background-color: $lighter-gray;
      border-bottom: 1px solid $light-gray;
      font-size: $oneREM;
      padding: 15px 18px;
      }
      .#{$product}--bgcard-body{
        min-height: 250px;
      }
    
  }
}
