
/**
 * @author : Sameera Peiris
 * @date : September 18, 2019
 * @version : 1.0
 * @copyright : © 2010-2019 Information International Limited. All Rights Reserved
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

//Font-weight

$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$heavy: 900;

// Font-sizes

$titleMain: 1.2rem;
$titleSub: 1rem;
$sidebarMainNav: 0.95rem;
$sidebarSubNav: 0.9rem;
$paragraphNormal: 0.9rem;
$userTypeCount: 2.5rem;
//common-font-sizes
$point9REM: 0.9rem;
$oneREM: 1rem;
$onePontOneREM: 1.1rem;
$onePointTwoREM:1.2rem;
$onePointFiveREM:1.5rem;


//fonts
$fontOpenSans: 'Open Sans', sans-serif !important;