/**
 * @author : Sameera Peiris
 * @date : September 18, 2019
 * @version : 1.0
 * @copyright : © 2010-2019 Information International Limited. All Rights Reserved
 */

.#{$product}--header {
  @include box-shadow(0px, 2px, 5px, 0px, rgba(0, 0, 0, 0.5));
  top: 0px;
  z-index: 2;
  .navbar-brand {
    padding-left: 25px;
  }
  @include themify($themes) {
    color: themed("textColor");
    background-color: themed("backgroundColor");
  }
  .header--profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 0px solid $white;
    position: absolute;
    top: 3px;
    right: 0px;
  }
}

// ChartJs
.chartjs-render-monitor {
  width: 100% !important;
}

//react boostrap table
.react-bs-table-pagination {
  .pagination {
    .page-item {
      &.active {
        .page-link {
          background-color: #545b62;
          border-color: #545b62;
          color: $white !important;
        }
      }
    }
  }
}

.exchange-rate-title{
  line-height: 4px;
  small{
    color:#d2ec43;
  }
}

// .alert-dismissible {
//   position: fixed  !important;
//   top: 55px !important;
//   right: 10px !important;
//   /* padding: 1rem; */
//   width: 250px !important;
//   z-index: 99999 !important;
//   -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.19) !important;
//   -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.19) !important;
//   box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.19) !important;
// }