/**
 * @author : Sameera Peiris
 * @date : September 18, 2019
 * @version : 1.0
 * @copyright : © 2010-2019 Information International Limited. All Rights Reserved
 */

/*
 * Start Implementation of themes
 */
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
/*
 * End Implementation of themes
 */
@mixin box-shadow($top, $left, $blur, $spread, $color) {
  -webkit-box-shadow: $top $left $blur $spread $color;
  -moz-box-shadow: $top $left $blur $spread $color;
  box-shadow: $top $left $blur $spread $color;
}
@mixin border-radius($border-radius) {
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
}
@mixin border-radius-each($topleft, $topright, $btmleft, $btmright) {
  -webkit-border-radius: $topleft $topright $btmleft $btmright;
  -moz-border-radius: $topleft $topright $btmleft $btmright;
  border-radius: $topleft $topright $btmleft $btmright;
}