/**
 * @author : Sameera Peiris
 * @date : September 18, 2019
 * @version : 1.0
 * @copyright : © 2010-2019 Information International Limited. All Rights Reserved
 */

//--Color variables
//----Main-theme-colors-start----
$transparent:transparent;
$white: rgb(255, 255, 255);
$iconWhite: rgb(241, 241, 241);
$black: rgb(0, 0, 0);
$blacTitle: rgb(26, 26, 26);
$titleGray:rgb(68, 68, 68);
$formBorder: #cccccc;
$mid-night-blue: rgb(19, 36, 82);
$mid-night-blue-dark: rgb(17, 29, 64);
$red:#ff0000;
$btn-green: hsl(116, 46%, 49%);
$btn-greenHover: rgb(45, 212, 33);
$btn-danger:rgb(250, 51, 48); 
$btn-dangerHover: rgb(248, 25, 21);
//----Main-theme-colors-end------
$exmedium-gray: #d1d1d1;
$medium-gray: #cccccc;
$light-gray: rgb(227, 227, 227);
$lighter-gray:rgb(241, 241, 241);

//---------Dashboard-user-type-----
$login-user: #ddb935;
$active-user: #0ec64f;
$block-user: #ff6363;
$total-user: #4f4f4f;

//---------Checkbox custom type-----
$ck-create: #4caf50;
$ck-delete: #ff1a1a;
$ck-modify: 	#ffbf00;
$ck-view: #8000ff;
$ck-all: #0080ff;

//sidebar-borders
$sidebar-border: rgba(228, 226, 226, 0.2);
//--Color variables

// Theme
$crimson-red: #d31111;
$crimson-red-hover: #f00b0b;

$elf-green:#1a8d5f;
$elf-green-hover: #0faa6c;

$saffron-yellow: #ff5722;
$saffron-yellow-hover: #e73600;

$dark-cyan: #009688;
$dark-cyan-hover: #00756a;


//prefix
$product: "life";


//images