/**
 * @author : Sameera Peiris
 * @date : September 18, 2019
 * @version : 1.0
 * @copyright : © 2010-2019 Information International Limited. All Rights Reserved
 */

// Required
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./Variables";
@import "./Fonts";
@import "./Mixins";
@import "./Theme";
@import "./Layout";

body {
  margin: 0;
  font-family: $fontOpenSans;
}

h1, h2, h3, h4, h5, h6{
  color: inherit !important;
}
a{
  color: inherit !important;
}



// Bootstrap and its default variables

@import "./node_modules/bootstrap/scss/bootstrap.scss";
//@import "../../node_modules/antd/dist/antd.css";
@import "../assets/packages/fontawesome-free-5.11.2-web/scss/fontawesome.scss"
